#
# FromDual configuration file template for MySQL, Galera Cluster, MariaDB and Percona Server
# Location: /etc/my.cnf or /etc/mysql/my.cnf
# This template is intended to work with MySQL/MariaDB 5.5 and newer
# Get most recent updated from here:
# http://www.fromdual.com/mysql-configuration-file-sample
#

[client]

port                           = 3306
#socket                         = /var/run/mysqld/mysql.sock


[mysql]

no_auto_rehash
max_allowed_packet             = 16M
prompt                         = '\u@\h [\d]> '
default_character_set          = utf8                                # Possibly this setting is correct for most recent Linux systems
#default_time_zone              = 'UTC'

[mysqldump]

max_allowed_packet             = 16M


[mysqld_safe]

open_files_limit               = 8192                                # You possibly have to adapt your O/S settings as well
user                           = michaljuras
log-error                      = hostname_error.log


[mysqld]
ft_min_word_len                = 1
lower_case_table_names         = 1
sql_mode                       = "ALLOW_INVALID_DATES"
innodb_ft_min_token_size       = 0


max_allowed_packet             = 16M
default_storage_engine         = InnoDB                              # Defaults since 5.5

max_connections                = 505                                 # Values < 1000 are typically good
max_user_connections           = 500                                 # Limit one specific user/application
thread_cache_size              = 505                                 # Up to max_connections makes sense


# Query Cache

query_cache_type               = 1                                   # Set to 0 to avoid global QC Mutex
query_cache_size               = 32M                                 # Avoid too big (> 128M) QC because of QC clean-up lock!


# Session variables

sort_buffer_size               = 2M                                  # Could be too big for many small sorts
tmp_table_size                 = 32M                                 # Make sure your temporary results do NOT contain BLOB/TEXT attributes

read_buffer_size               = 128k                                # Resist to change this parameter if you do not know what you are doing
read_rnd_buffer_size           = 256k                                # Resist to change this parameter if you do not know what you are doing
join_buffer_size               = 128k                                # Resist to change this parameter if you do not know what you are doing


# Other buffers and caches

table_definition_cache         = 400                                 # As big as many tables you have
table_open_cache               = 512                                 # connections x tables/connection (~2)


# MySQL error log

log_error                      = hostname_error.log
log_warnings                   = 2
# innodb_print_all_deadlocks     = 1
# wsrep_log_conflicts            = 1                                   # for Galera only!

# Slow Query Log

slow_query_log_file            = hostname_slow.log
slow_query_log                 = 0
log_queries_not_using_indexes  = 1
long_query_time                = 0.5
min_examined_row_limit         = 100


# General Query Log

general_log_file               = /usr/local/var/mysql/general.log
general_log                    = 0

